<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Editar por ID - Método PUT</h2>
    <form action="" class="editar">
        <label for="">Digite o Id do cliente que deseja editar: </label>
        <Input style="width: 50px;" name="idCliente" id="idCliente" />
        <br>
        <hr>
        <h4>Dados à Modificar</h4>
        <label for="">Nome</label> <input name="nomeCliente" type="text" id="nomeCliente"> <br>
        <label for="">Email</label> <input name="emailCliente" type="email" id="emailCliente"><br>
        <label for="">Telefone</label> <input name="telefoneCLiente" type="text" id="telefoneCLiente"><br><br>
        <label for="">Endereco</label> <input name="enderecoCliente" type="text" id="enderecoCliente"><br><br>
        <label for="">Cpf</label> <input name="cpfCliente" type="text" id="cpfCliente"><br><br>
        <button class="btn">Editar</button>
    </form>
    <br>

    <script src="./script.js"></script>
</body>
</html>